<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1 class="head">Alle Attraktioner</h1>

<table class="tabel">
    <tr>
        <th class="tabel">Navn</th> <th class="tabel">Beskrivelse</th> <th class="tabel">By</th>
    </tr>
    <tr class="tabel" th:each="attraction:${attractions}">
        <td class="tabel" th:text="${attraction.name}"></td>
        <td class="tabel" th:text="${attraction.description}"></td>
        <td class="tabel" th:text="${attraction.city}"></td>

        <td>
            <button class="submit"><a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">Tags</a></button>
        </td>


        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" th:method="post">
                <button class="submit" type="submit">Slet</button>
            </form>
        </td>
        <td>
            <button class="submit"><a th:href="@{/attractions/{name}/edit(name=${attraction.name})}">Opdater</a></button>
        </td>
    </tr>
</table>

<br>
<a th:href="@{/attractions/add}">Tilføj</a>

</body>
</html>